.right {
  width: 18%;
  position: absolute;
  right: 15%;
  top: 120px;
}
.right .label {
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
}
.right .label .title {
  border-bottom: 1px solid #e7eaf1;
}
.right .label .title,
.right .label .labels {
  padding: 10px;
}
.right .label .labels {
  display: flex;
  justify-content: flex-start;
}
.right .label .labels .items {
  padding: 5px;
  background-color: rgb(60, 129, 223);
  margin: 0 5px 0 0;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
